body {
  background-color: cyan !important;
  font-family: "Comic Sans MS", cursive, sans-serif !important;
  font-size: 18px;
  color: magenta !important;
  background-image: url("source.gif");
  background-repeat: repeat-y;
}

.virus-button {
  padding: 20px;
  color: black;
}

.virus-header {
  color: red;
  background-color: lightgrey;
  border: 5px solid blue;
  font-family: "Lucida Console", "Courier New", monospace;
}

.virus-body {
  color: red;
  border: 5px solid orange;
  border-top: 5px solid blue;
}

.grid-thing {
  border: 5px dashed yellow;
}